*{
    margin : 0;
    padding : 0;
}
.bouton{
    font-weight: 900;
}
button{
    background-color: white;
    color: #140F2D;
    width: 20%;
    padding: 1%;
    font-size: 30px;
    border-radius: 50px 50px 50px 50px;
    -moz-border-radius: 50px 50px 50px 50px;
    -webkit-border-radius: 50px 50px 50px 50px;
    border: 4px groove #000000;
    margin-left: 70%;
}